@import "~@bison/biskin-kit/lib/biskin/assets/scss/biskin/colors";

$ok-t-l: #A7DBB3;
$orange-t-l: #FDD2B4;
$alert-t-l: #F6B3A0;
$alert-h: #f7193e;

$yellow-h: #f5c400;
$yellow-field: #faf4d7;
$aubergine-h: #4d3d47;
$orange-h: #fa893a;
$cherry-h: #8f3971;
